annotated-types==0.7.0
attrs==24.2.0
cattrs==24.1.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
idna==3.8
markdown-it-py==3.0.0
mdurl==0.1.2
platformdirs==4.3.1
pydantic==2.9.1
pydantic_core==2.23.3
Pygments==2.18.0
python-dotenv==1.0.1
requests==2.32.3
requests-cache==1.2.1
rich==13.8.0
shellingham==1.5.4
six==1.16.0
typer==0.12.5
typing_extensions==4.12.2
url-normalize==1.4.3
urllib3==2.2.2
